<h2>Mitarbeiter Übersicht</h2>

<div class="raw-json"><b>raw json:</b>
    <div>{{dataSource.data | json}}</div>
</div>

<div class="raw-json">
    <b>Current selection</b>
    <div>{{selection.selected | json}}</div>
</div>

<div>
    <button mat-raised-button color="primary" (click)="loadData()">Daten aktualisieren</button>
</div>
<div>
    <button mat-raised-button color="primary" (click)="deleteSelectedEntries()"
        [disabled]="selection.selected.length === 0" style="margin-top: 1em;">Ausgewählte
        Einträge löschen</button>
</div>

<table mat-table [dataSource]="dataSource" style="margin-top: 1em;" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Nachname Column -->
    <ng-container matColumnDef="nachname">
        <th mat-header-cell *matHeaderCellDef> Nachname </th>
        <td mat-cell *matCellDef="let element"> {{element.nachname}} </td>
    </ng-container>

    <!-- Vorname Column -->
    <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef> Vorname </th>
        <td mat-cell *matCellDef="let element"> {{element.vorname}} </td>
    </ng-container>

    <!-- Geburtsdatum Column -->
    <ng-container matColumnDef="geburtsdatum">
        <th mat-header-cell *matHeaderCellDef> Geburtsdatum </th>
        <td mat-cell *matCellDef="let element"> {{element.geburtsdatum | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- isAzubi Column -->
    <ng-container matColumnDef="isAzubi">
        <th mat-header-cell *matHeaderCellDef> Azubi? </th>
        <td mat-cell *matCellDef="let element"> {{isAzubiDisplaytext(element.isAzubi)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
</table>